body {
    margin-top: 0;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.page-title {
    padding-top: 10px;
}

/* Put in a media query for desktop.
We don't want it center-aligned for mobile*/
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}
.page-title {
    padding-top: 10px;
}
.col-md-12 logo {
    margin: 0 auto;
    display: inline-block;
    width: 50%;
}
.land-image {
    display: inline-block !important;
    border: 2px solid black;
    border-radius: 10px;
}