body {
    margin-top: 0%;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.page-title {
    padding-top: 10px;
}
.col-md-12 logo {
    margin: 0 auto;
    display: inline-block;
    width: 50%;
}

#footer {
    background-color: #ff8135;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow:hidden;
    color: white;
    padding: 1em;
}