body {
    padding-top: 5rem;
}
.starter-template {
    /*padding: 3rem 1.5rem;*/
    text-align: center;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}